body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}
.graphic-img {
    max-width: 100%;
}
.text-muted {
    color: #7d97ad;
}

.text-right{
    max-height: 140px;
}
.separator-line {
    border-bottom: 3px solid #7d97ad;
    margin: 0 0 20px 0;
}
.text-thin{
    font-weight: 100;
    
}
.title-super {
    font-size: 60px;
    color: #2d3c49;
}
.title-logo {
    max-height: 120px;
}

@media only screen and (min-width: 1200px) {
    .text-muted {
        padding-left: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .title-super {
        font-size: 40px;
    }
    .text-muted {
        padding-left: 100px;
    }
    header {
        max-width: 100%;
    }
    .logo-img {
        max-width: 50%;
    }
    .text-right {
        max-width: 50%;
    }
    header img {
        max-width: 60%;
        max-height: 60%;  
    }
}

@media only screen and (max-width: 530px) {

    .title-super {
        font-size: 30px;
    }

    header {
        max-width: 100%;
        text-align: center;
    }
    header img {
        max-height: 70%;
        text-align: center;
    }

    header h1, h4 {
        text-align: center;
        
    }
    .logo-img {
        max-width: 100%;
    }
    .text-right {
        max-width: 100%;
    }

}

